body {
    background-color: #000000;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
}

button {
    background-color: #080808;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    max-width: 90%;
}

img {
    max-width: 90%;
}